name: Upload release to PyPI

on:
  push:
    tags:
     - '*'

jobs:
  pypi-publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/project/pong-arcade/
    permissions:
      id-token: write
    steps:
    - name: Checkout source
      uses: actions/checkout@main
    - name: Install Python 3.11
      uses: actions/setup-python@v3
      with:
        python-version: '3.11'
    - name: Install build tool
      run: >-
        pip install build
    - name: Build package
      run: >-
        python3 -m build
    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
